/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import "node_modules/material-ui/src/less/scaffolding.less";
//Define a custom less file to override any variables defined in scaffolding.less
@import "my_overrides.less";
@import "node_modules/material-ui/src/less/components.less";

//////////// My custom app styles ////////////

// VARIABLES
@pad1: 2.60%; // 50px
@pad2: @pad1/2;

// CODE

html, body {
  height: 100%;
  width: 100%;
  background-color: #e9eaed;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.outerDiv {
}
.grid {
  z-index: 1;
  width: 100%;
  padding: @pad1 0 @pad1 @pad1;
  display: table;
  clear: both;
  position: relative;
  [class*='col-'] {
    float: left;
    position: relative;
    padding-right: @pad1;
    padding-bottom: @pad2;
  }
  [class*='col-']:last-of-type {
    padding-right: @pad1;
  }
}
.col-1-3 {
  width: 33.33%;
  position: relative;
}
.channel {
  // aspect ratio: 10:7.23
  width: 100%;
  height: 0;
  padding-bottom: 72.30%;
  position: relative;
  background: white;
  .channel-div {
    width: 100%;
    height: 100%;
    position: absolute;
    .channel-caption {
      width: 100%;
      height: 27%;
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.4);
      .icon-name-wrapper {
        width: 100%;
        //height: 100%;
        position: absolute;
        bottom: 10%;
        overflow: auto;
        .channel-icon {
          width: 15%;
          height: 0;
          padding-bottom: 15%;
          margin-left: 2%;
          background-color: white;
          //position: absolute;
          //bottom: 0;
          vertical-align: bottom;
        }
        .name-wrapper {
          //height: 100%;
          width: 83%;
          display: inline-block;
          position: absolute;
          top: 20%;
          .channel-name {
            color: #ffffff;
            font-size: 1.3vw;
            margin: 0 0 4% 3%;
            padding: 0 0 0 0;
            vertical-align: middle;
            @media (min-width: 1025px) and (max-width: 1480px) {
              margin: 0 0 3% 3%;
            }
            @media (max-width: 1024px) {
              margin: 0 0 2% 3%;
            }
            @media (max-width: 900px) {
              margin: 0 0 1% 3%;
            }
          }
          .channel-description {
            color: #ffffff;
            font-size: 0.8vw;
            margin: 0 0 0 3%;
            padding: 0 0 0 0;
            line-height: 0;
          }
        }
      }

    }
  }
}
.controlButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  //margin: auto 10px auto 10px;
  z-index: 100;
}
.logout-button-div {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  .logout-button {
    .mui-paper-container {
      padding: 0;
    }
  }
}
.mui-right-nav .mui-paper-container {
  overflow: scroll;
}