//Override Variables in scaffolding.less

.save-button  {
  button {
    background-color: @cyan-500;
  }
}
.undo-button {
  button {
    background-color: @pink-300;
  }
}
.mui-is-current-selected {
  color: black;
  font-size: 1.5em;
}
.mui-right-nav {
  .mui-right-nav-menu {
    z-index: 300 !important;
  }
  .mui-overlay {
    z-index: 250
  }
}

