/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@import "node_modules/material-ui/src/less/scaffolding.less";
//Define a custom less file to override any variables defined in scaffolding.less
@import "my_overrides.less";
@import "node_modules/material-ui/src/less/components.less";

//////////// My custom app styles ////////////

// VARIABLES
@default-margin: 20px;
@channel-icon-width: 127px /1.5;
@channel-icon-height: 72px /1.5;
@color-mui-blue: #00bcd4;
@color-mui-pink: #e91e63;
@color-mui-deselected: #cdcdcd;
@menu-item-hover-color: rgba(0, 0, 0, .035);

// CODE

html, body {
  height: 100%;
  overflow-y: scroll;
  background-color: #e9eaed;
  -webkit-user-select: none;
}
.resources-panel {
  width: 50%;
  position: absolute;
  display: block;
}
.resources-panel:first-child {
  margin-top: @default-margin;
}
.resource-family-pool {
  position: static;
  width: auto;
  margin-left: @default-margin;
  margin-right: @default-margin;
  margin-bottom: @default-margin;
  table {
    width: 100%;
    //table-layout: fixed;
    tbody {
      width: 100%;
    }
  }
}
.configurations-panel-div {
  position: static;
  width: auto;
  margin-left: @default-margin;
  margin-right: @default-margin;
  margin-bottom: @default-margin;
  .config-title {
    font-size: 1.3vw;
    font-weight: 300;
    -webkit-user-select: none;
    cursor: default;
    margin-left: 30px;
    vertical-align: middle;
    float: left;
  }
  >.mui-paper:first-child {
    height: 60px;
    line-height: 60px;
  }
}
.pool-row {
  width: 100%;
  border-top: solid 1px rgb(224, 224, 224);
  td {
    height: 100px;
    vertical-align: middle;
    //padding-top: 16px;
    //padding-bottom: 10px;
  }
  td:first-child {
    width: 10px;
    .remove-row-div {
      width: 100%;
      height: 100%;
    }
  }
  td:nth-child(2) {
    width: 20%;
    text-align: center;
  }
  td:nth-child(3) {
    width: 65%;
  }
  td:last-child {
    //width: 10%;
  }
  &.pool-add-row {
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    td {
      height: 0;
    }
    :hover {
      color: #ffffff;
      background-color: @color-mui-blue;
    }
  }
}
.pool-row:hover .remove-row-div {
  background-color: @color-mui-pink;
  cursor: pointer;
}
.pool-header{
  height: 80px;
  th {
    vertical-align: middle;
  }
  th:first-child {
    // delete row width
    width: 10px;
  }
  th:nth-child(2) {
    width: 10%;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    -webkit-user-select: none;
    cursor: default;
  }
}

///////// Channel /////////
.channel-div {
  display: inline-block;
  text-align: center;
  width: @channel-icon-width;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.channel-icon {
  border-radius: 8px;
  width: @channel-icon-width;
  height: @channel-icon-height;
  display: block;
  margin: 0 auto;
}
////////////////////////////

.div-button-container {
  display: inline-block;
  margin-right: 10px;
  line-height: 20px;
}

///////// ChannelsPanel /////////
.channels-panel {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
}
.channels-panel-paper {
  height: calc(~"100% - 2*@{default-margin}");
  width: auto;
  margin-top: @default-margin;
  margin-right: @default-margin;
  margin-bottom: @default-margin;
}
.channels-catalogue-title-div-outer {
  height: 15%;
  width: 100%;
  display: table;
  //display: block;
  //text-align: center;
  p {
    font-size: 7vh;
    font-weight: 100;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    cursor: default;
  }
}
.channels-catalogue-title-div-middle {
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
.channels-catalogue-title-div-inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.channels-panel-save-buttons-div-outer {
  height: 10%;
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
}
.channels-panel-save-buttons-div-inner {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.div-button-container-final-button {
  display: inline-block;
  //margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  //line-height: 10px;
}

////////////////////////////

///////// Channel Info /////////
.channel-info-div {
  height: 40%;
  max-height: 40%;
  width: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 85%;
    border: solid 1px rgb(0,0,0);
    -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
  }
}
.dock-base {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  z-index: -10;
  background-color: #888;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
  background-image: -webkit-linear-gradient(top, #333, #999);
  opacity: .5;
  border-bottom: 2px #aaa solid;
  -webkit-transform-origin: 50% 100%;
  -webkit-transform: rotateX(20deg);
}
////////////////////////////

///////// Channels List /////////
.channels-list-div {
  height: 35%;
  width: 100%;
  padding: 20px;
  overflow: scroll;
}
////////////////////////////

/////////// Mui ///////////
.mui-paper {
  background-color: #fff;
}
.mui-floating-action-button-container {
  z-index: 0;
}
.text-field-div {
  width: 100%;
}
.mui-text-field {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  .mui-text-field-underline {
    position: relative;
  }
  .mui-text-field-focus-underline {
    position: relative;
  }
}
.mui-menu .mui-menu-item {
  cursor: default;
}
.mui-menu .mui-menu-item:hover .check-config-icon i {
    color: @color-mui-blue;
  }
.mui-menu .mui-menu-item:hover .delete-config-icon i {
  color: @color-mui-pink;
}
.mui-drop-down-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mui-drop-down-menu .mui-menu .mui-menu-item {
  padding-right: 0;
}
///////// Config Dropdown ///////////////////
.check-config-icon {
  float: right;
  cursor: pointer;
  margin-left: 20px;
  i {
    color: @color-mui-deselected;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.delete-config-icon {
  float: right;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  i {
    color: @color-mui-deselected;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.config-text-field-div {
  position: relative;
  input {
    float: left;
    line-height: inherit;
    border: none;
    outline:0 !important;
    -webkit-appearance: none;
    background: transparent;
      &:focus {
    }
  }
}
////////////////////////////

